<% if user_can?('update_onbase_record') %>
  <div class="record-toolbar">
    <% if ['new', 'create'].include?(controller.action_name) %>
      <div class="pull-left save-changes">
        <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
      </div>
    <% end %>
  </div>
<% end %>
